.Rhistory
.DS_Store
~$*
.Rproj.user
data_offline/
data/
data/eco_phylo_data
training_sets/raw
ebird/ebird_data
*.tif
LandCoverData
output/fitted-BART-models*
Z_old_or_unused_scripts/test_ebird_sightings.R
Z_old_or_unused_scripts/resample_training_data_barkla.R
plots/resampling/retired
plots/old_plots
training_sets/calendar_qs